
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    background-color: black;
    color: aliceblue;
    height: 150vh;
    width: 100vw;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color:white;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 12px;
}
h2{
    color: black;
}
#main{
    background-color: wheat;
    width:900px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#space{
        width: 860px;
        height: 700px;
        position: relative;
    background-color: rgb(35, 35, 4);
}
#btn{
    width: 1000px;
    display: flex;
    justify-content: space-evenly ;
    gap: 100px;
    background-color: palevioletred;
    border-radius: 15px;
    padding: 7px;
    gap: 12px;
    margin-bottom: 12px;
}
button{
    padding: 10px;
    border-radius: 12%;
}

#cursor{
    margin-right: 1230px;
    margin-bottom: 960px;
    width:20px;
    height: 20px;
    background-color: red; /*for default*/
    border-radius: 50%;
    position: absolute;/* because hame chaiye ki mutiple pages pe ye poohoch sake agaar absolute dete to first page par hi rhe jata */
    z-index: 9;
}
label{
    margin-top:10px ;
    color:black;
}
